<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Friendlist</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>My friends</h1>
        <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Friend List</title>
</head>
<body>
<table>
    </thead>
    <tbody>
        <tr th:each="friend : ${friends}">
            <td th:text="${friend.firstName} + ' ' + ${friend.lastName}"></td>
        </tr>
    </tbody>
</table>
    <p><a th:href="@{/addfriend}">Add friend</a></p>
</body>
</html>